*{
    padding: 0;
    margin: 0;
    background-color: #0F1014;
}

.heading{
    text-align: center;
    color: #ECECED;
}

.Head-span{
    color: #09D05E;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    
}